{% extends "base.html" %}{% load lms %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="card auth-card" style="max-width:620px">
  <h1>Create your account</h1>
  <form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field radio-row"><label>I am a</label>{{ form.role }}{{ form.role.errors }}</div>
    <div class="form-grid">
      {% field form.first_name %}{% field form.last_name %}
      {% field form.username %}{% field form.email %}
      {% field form.department %}{% field form.year_of_study %}
      {% field form.roll_no %}
    </div>
    <div class="form-grid">{% field form.password1 %}{% field form.password2 %}</div>
    <button class="btn primary big">Create account</button>
  </form>
</div>
{% endblock %}
